header{
    display: flex;
    justify-content: space-between;
}

#highscores, #timer{
    background-color: yellow;
    margin: 10px;
    padding: 10px;
}

#main{
    background-color: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

#quiz, #answerresults{
    background-color: yellow;
    width: 50%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

button{
    border-radius: .5em;
}
