header{
    display: flex;
    justify-content: space-between;
}

#left, #right {
    margin: 10px;
    padding: 10px;
}

#main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

ul {
    background-color: darkslategrey;
    list-style: none;
    padding: 0px;
}

li {
    background-color: lightgrey;
    text-align: left;
    font-size: 20px;
    padding: 2px 10px;
    /* margin-top: 2px; */
}

li:nth-child(even) {
    background-color: darkgrey;
}

#scoreslist {
    margin: 5px auto;
}

#intro, #quiz, #finalscore, #answerresults {
    width: 50%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#intro, #quiz, #finalscore, #scores {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#intro {
    display: flex;
}

#quiz {
    display: none;
}

#finalscore {
    display: none;
}

h1 {
    margin: 5px auto;
}

#buttons {
    display: flex;
}

#answerbutton, #startquiz, .button {
    background-color: lightgrey;
    margin: 5px auto;
    border: 2px solid black;
    border-radius: .5em;
    padding: .25em;
    cursor: pointer;
    background-color: white;
}

#back, #clearscores {
    margin: 5px;
}

button{
    border-radius: .5em;
}


